<body  style="margin: -14.5px;">
    <section  style="height: auto;background-image: linear-gradient(230deg,#00CC71 20%,#00ACE2 80%);">
  
    <nav class="nav" >
      <ul class="nav__list" style="padding: 10rem 0 5 rem;">
        <li class="nav__listlogo">
            
          <img src="\assets\images\capway-header-logo.svg">
         
        </li>
        <li class="nav__listitem">Benefits</li>
        <li class="nav__listitem">Learn Money &nbsp;<i class="arrow down" ></i>
          <ul class="nav__listitemdrop">
            <li>Learn Money</li>
            <li>Money Talk</li>
            <li>Money Meanings</li>
            <li style="background-color: #e3f2f9;">Request Content</li>
            <li style="background-color: #fbe9bc;">Submit Content</li>
            
          </ul>
        </li>
        <li class="nav__listitem">Partner</li>
        <li class="nav__listitem">Why CapWay + More</li>
        <li class="nav__listitem" style="margin-left: 2rem">Sign In</li>
        <button class="buttonsignup">Sign Up</button>
      </ul>
      <div class="row">
        <div class="column">
          <div class="card">
      <h1 style="font-size: 2.4rem;line-height: 1.3;">Creating Financial<br> Access & Opportunities</h1>
      <p style="font-size: 1.5rem;line-height: 1.5;color: #fffc">No overdraft or minimum balance fees.<sup>1</sup> Send<br> and receive money.<sup>2</sup> Get paid early.<sup>3</sup> Achieve<br>Money Goals.<sup>4</sup> Learn money.<sup>5</sup>...and <span class="more">more.</span></p>
     <br>
      <div class="input-group">
        <div class="input-group-area"><input class="height" type="text" id="myInput" placeholder="Enter email address"></div>
        <div class="input-group-icon" style="cursor: pointer;" onclick="document.getElementById('myInput').value = ''">Sign Me Up</div>
      </div><br>
      <p style="color: #fffc;font-size: .8rem;">Download for IOS <span class="dot">.</span> Download for Android <span class="dot">.</span> Why you Should Choose CapWay</p>
    </div>
        </div>
        <div class="column">
            <div class="card">
                <img class="img1" src= "\assets\images\phone-card.png"> 
               
            </div>
          </div>
      </div>
    </nav>

  
 
 </section>
<section style="background-color: #fafafb;margin:5rem 0;">
  <p class="account"> Money Account with CapWay</p>
  <div class="row-account">
    <div class="column-account">
      <div class="card-account">
        <img src="\assets\images\card-debit-cards.png"  style="width:100%">
        <div class="centered">
          <img  class="img-account" src="\assets\images\debit-cards.svg" >
          
        </div>
        <p class="p-account">Debit card to access the cashless economy</p>
      </div>
    </div>
  
    <div class="column-account">
      <div class="card-account" >
        <img src="\assets\images\card-withdrawal.png"  style="width:100%">
        <div class="centered">
          <img class="img-account" src="\assets\images\withdrawal.svg" >
          
        </div>
        <p class="p-account">Withdraw money at ATMs,plus multiple options to deposit funds</p>
      </div>
    </div>
    
    <div class="column-account">
      <div class="card-account">
        <img src="\assets\images\card-money-goals.png"  style="width:100%">
        <div class="centered">
          <img  class="img-account" src="\assets\images\money-goals.svg" >
          
        </div>
        <p class="p-account">Create and save money towards your Money Goals</p>
      </div>
    </div>
    
   
  </div>
  <button class="button-account">See all Account Benefits</button>
</section>
<section style="height: auto;padding: 3rem 0;background-image: linear-gradient(45deg,rgba(0,204,112,.8823529412),rgba(0,173,226,.8352941176));">
<h2 class="h-download">Download CapWay and Start Your Money Account.</h2>

<img class="img-download" src="\assets\images\google-play.svg">

<img class="img-download" src="\assets\images\app-store.svg">

</section>
<section style="background-color:#151519;padding: 1rem 0 0;height:auto">
<div class="row-partnership" style="width:90%;margin:0 auto;">
  <div class="column-partnership left-partnership">
   <h2 class="h-partnership">Phunds: Financial Education Programs</h2>
   <p class="p-partnership">Available to individuals, businesses, and organizations - including community organizations, schools, workforce, and municipalities. Increase your knowledge of money by learning from the 20+ financial topics covered in the different Phunds' programs.</p>
  <button class="button-partnership">Find Out More</button>
  </div>
  <div class="column-partnership middle-partnership">
    <img class="img-partnership" src="\assets\images\partnership.png">
  </div>
  <div class="column-partnership right-partnership"><br><br><br><br><br>
    <h2 class="h-partnership">The Money Room</h2>
   <p class="p-partnership">The master class of money. Engage and learn money from the financial teachings through our collaborations with brands and influencers.</p>
  <button class="button-partnership">Download App</button>
  </div>
</div>
</section>

<section style="background-color: #fafafb; padding: 5rem 0;border-bottom: 0.05rem solid #DDDDDD;">
  <p class="account"> Get to Know Money Better</p><br>
  <div class="getmoney-layout">
<div class="tab-getmoney">
  <div class="tab">
    <button class="tablinks" onclick="openCity(event, 'Articles')" id="defaultOpen">Articles</button>
    <button class="tablinks" onclick="openCity(event, 'Videos')">Videos</button>
    <button class="tablinks" onclick="openCity(event, 'Facts')">Facts & Hacks</button>
    <button class="tablinks" onclick="openCity(event, 'Infographics')">Infographics</button>
    <button class="tablinks" onclick="openCity(event, 'Money')">Money Meanings</button>
    
  </div>
</div>
  <div id="Articles" class="tabcontent">
  <div class="row-getmoney">
    <div class="column-getmoneytwo" >
    <div style="border:0.05rem solid #EEEEEE">
    <div class="img-getmoney" style="background-image: url(/assets/images/article1.png); ">
    <div class="overlay-getmoney">
    <p class="overlay-text">Top Paying Jobs in America of<br> 2022</p>
    <span class="overlay-date">April 13,2022</span>
    </div>
    </div>
    <div class="box-getmoney">
      <img class="img-box" src="\assets\images\article12.jpg" width="100%">
      <div class="box-text">
      <p class="box-username">Sheena Allen</p>
      <div class="box-category" style="background-color: rgb(202, 241, 222);">Economy</div> </div>
    </div>
    </div>
  </div>

  <div class="column-getmoneytwo" >
    <div style="border:0.05rem solid #EEEEEE">
    <div class="img-getmoney" style="background-image: url(/assets/images/article2.png); ">
    <div class="overlay-getmoney">
    <p class="overlay-text">Student Loan Repayment<br> Paused Again Until Aug 2022</p>
    <span class="overlay-date">April 11,2022</span>
    </div>
    </div>
    <div class="box-getmoney">
      <img class="img-box" src="\assets\images\article12.jpg" width="100%">
      <div class="box-text">
      <p class="box-username">Sheena Allen</p>
      <div class="box-category" style="background-color: rgb(202, 241, 222);">Economy</div> </div>
    </div>
    </div>
  </div>

  <div class="column-getmoneytwo" style="margin-right: 15px;" >
    <div style="border:0.05rem solid #EEEEEE">
    <div class="img-getmoney" style="background-image: url(/assets/images/article3.png); ">
    <div class="overlay-getmoney">
    <p class="overlay-text">Elon Musk Purchases a 9.2%  <br>Stake in Twitter</p>
    <span class="overlay-date">April 10,2022</span>
    </div>
    </div>
    <div class="box-getmoney">
      <img class="img-box" src="\assets\images\article12.jpg" width="100%">
      <div class="box-text">
      <p class="box-username">Sheena Allen</p>
      <div class="box-category" style="background-color: rgb(247, 201, 177);">Investing</div> </div>
    </div>
    </div>
  </div>

  <div class="column-getmoneytwolast" >
    <div style="border:0.05rem solid #EEEEEE">
    <div class="img-getmoney" style="background-image: url(/assets/images/article4.png); ">
    <div class="overlay-getmoney">
    <p class="overlay-text">Relationship Between Mental<br>Health and Money</p>
    <span class="overlay-date">April 9,2022</span>
    </div>
    </div>
    <div class="box-getmoney">
      <img class="img-box" src="\assets\images\article12.jpg" width="100%">
      <div class="box-text">
      <p class="box-username">Shaun Morgan</p>
      <div class="box-category" style="background-color:  rgb(172, 221, 222);">Emotions</div> </div>
    </div>
    </div>
  </div>
  </div>
  </div>
  
  <div id="Videos" class="tabcontent">
    <div class="row-getmoney">
      <div class="column-getmoneytwo" >
      <div style="border:0.05rem solid #EEEEEE">
      <div class="img-getmoney" style="background-image: url(/assets/images/article21.jpg); ">
        <div class="play-getmoney"></div>
      <div class="overlay-getmoney">
      <p class="overlay-text">Bola Sokunbi Shares Tips on<br>How to Handle Your Finances<br> Amid the Pandemic</p>
      <span class="overlay-date">February 2,2022</span>
      </div>
      </div>
      <div class="box-getmoney">
        <img class="img-box" src="\assets\images\article25.png" width="100%">
        <div class="box-text">
        <p class="box-username">CapWay</p>
        <div class="box-category" style="background-color: rgb(254, 248, 221);">Budgeting </div> </div>
      </div>
      </div>
    </div>
  
    <div class="column-getmoneytwo" >
      <div style="border:0.05rem solid #EEEEEE">
      <div class="img-getmoney" style="background-image: url(/assets/images/article22.png); ">
        <div class="play-getmoney"></div>
      <div class="overlay-getmoney">
      <p class="overlay-text">How Health Insurance Has Failed<br> Many Americans | Cheddar Chats <br> featuring Chasity Ramsey</p>
      <span class="overlay-date">September 14,2020</span>
      </div>
      </div>
      <div class="box-getmoney">
        <img class="img-box" src="\assets\images\article25.png" width="100%">
        <div class="box-text">
        <p class="box-username">CapWay</p>
        <div class="box-category" style="background-color: rgb(172, 221, 222);">Insurance</div> </div>
      </div>
      </div>
    </div>
  
    <div class="column-getmoneytwo" style="margin-right: 15px;" >
      <div style="border:0.05rem solid #EEEEEE">
      <div class="img-getmoney" style="background-image: url(/assets/images/article23.jpg); ">
        <div class="play-getmoney"></div>
      <div class="overlay-getmoney">
      <p class="overlay-text">Let's talk about it! What is the<br>biggest financial mistake you've<br>made?</p>
      <span class="overlay-date">February 18,2020</span>
      </div>
      </div>
      <div class="box-getmoney">
        <img class="img-box" src="\assets\images\article25.png" width="100%">
        <div class="box-text">
        <p class="box-username">CapWay</p>
        <div class="box-category" style="background-color: rgb(172, 221, 222);">Personal Loans</div> </div>
      </div>
      </div>
    </div>
  
    <div class="column-getmoneytwolast" >
      <div style="border:0.05rem solid #EEEEEE">
      <div class="img-getmoney" style="background-image: url(/assets/images/article24.png); ">
        <div class="play-getmoney"></div>
      <div class="overlay-getmoney">
      <p class="overlay-text">5 Ways Assets Help You</p>
      <span class="overlay-date">February 5,2020</span>
      </div>
      </div>
      <div class="box-getmoney">
        <img class="img-box" src="\assets\images\article25.png" width="100%">
        <div class="box-text">
        <p class="box-username">CapWay</p>
        <div class="box-category" style="background-color:  rgb(247, 201, 177);">Assets</div> </div>
      </div>
      </div>
    </div>
    </div> 
  </div>
  
  <div id="Facts" class="tabcontent">
    <div class="row-getmoney">
      <div class="column-getmoneytwo" >
      <div style="border:0.05rem solid #EEEEEE">
        <div class="facts-getmoney">
          <p class="p-facts-getmoney">Tax-filing Season Starts January 24,<br>2022</p>
        </div>
      <div class="img-fact-getmoney" style="background-image: url(/assets/images/article41.png); ">
        <div class="overlay-getmoney"></div>
      
      </div>
      <div class="box-getmoney">
        <img class="img-box" src="\assets\images\article45.png" width="100%">
        <div class="box-text">
        <p class="box-username">Nailah Herbert</p>
        <div class="box-category" style="background-color: rgb(254, 248, 221);">Personal Finance</div> </div>
      </div>
      </div>
    </div>
  
    <div class="column-getmoneytwo" >
      <div style="border:0.05rem solid #EEEEEE">
        <div class="facts-getmoney">
          <p class="p-facts-getmoney">A New Car Loses Its Greatest Value in<br>Year One</p>
        </div>
      <div class="img-fact-getmoney" style="background-image: url(/assets/images/article41.png); ">
        <div class="overlay-getmoney"></div>
      </div>
      <div class="box-getmoney">
        <img class="img-box" src="\assets\images\article25.png" width="100%">
        <div class="box-text">
        <p class="box-username">CapWay</p>
        <div class="box-category" style="background-color:  rgb(247, 201, 177);">Assets</div> </div>
      </div>
      </div>
    </div>
  
    <div class="column-getmoneytwo" style="margin-right: 15px;" >
      <div style="border:0.05rem solid #EEEEEE">
        <div class="facts-getmoney">
          <p class="p-facts-getmoney">Motivate Yourself by Nicknaming Your<br>Bank Account(s)</p>
        </div>
      <div class="img-fact-getmoney" style="background-image: url(/assets/images/article43.png); ">
        <div class="overlay-getmoney"></div>
      </div>
      <div class="box-getmoney">
        <img class="img-box" src="\assets\images\article45.png" width="100%">
        <div class="box-text">
        <p class="box-username">Nailah Herbert</p>
        <div class="box-category" style="background-color: rgb(255, 231, 199);">MindSet</div> </div>
      </div>
      </div>
    </div>
  
    <div class="column-getmoneytwolast" >
      <div style="border:0.05rem solid #EEEEEE">
        <div class="facts-getmoney">
          <p class="p-facts-getmoney">Student Loan Payment Deferment<br>Extended To January 31,2022</p>
        </div>
      <div class="img-fact-getmoney" style="background-image: url(/assets/images/article44.png); ">
        <div class="overlay-getmoney"></div>
      </div>
      <div class="box-getmoney">
        <img class="img-box" src="\assets\images\article12.jpg" width="100%">
        <div class="box-text">
        <p class="box-username">Sheena Allen</p>
        <div class="box-category" style="background-color:rgb(247, 201, 177) ;">Student Loans</div> </div>
      </div>
      </div>
    </div>
    </div>
  </div>

  <div id="Infographics" class="tabcontent">
    <div class="row-getmoney">
      <div class="column-getmoneytwo" >
      <div style="border:0.05rem solid #EEEEEE">
      <div class="img-getmoney" style="background-image: url(/assets/images/article31.png); ">
       
      <div class="overlay-getmoney">
      <p class="overlay-text">Buying a New Car vs. Used Car</p>
      <span class="overlay-date">July 1,2021</span>
      </div>
      </div>
      <div class="box-getmoney">
        <img class="img-box" src="\assets\images\article35.png" width="100%">
        <div class="box-text">
        <p class="box-username">Viviana Vazquez</p>
        <div class="box-category" style="background-color: rgb(255, 231, 199);">Oppurtunities & Resources</div> </div>
      </div>
      </div>
    </div>
  
    <div class="column-getmoneytwo" >
      <div style="border:0.05rem solid #EEEEEE">
      <div class="img-getmoney" style="background-image: url(/assets/images/article32.png); ">
      <div class="overlay-getmoney">
      <p class="overlay-text">Everything You Need To Know<br> About Financial Aid</p>
      <span class="overlay-date">June 21,2021</span>
      </div>
      </div>
      <div class="box-getmoney">
        <img class="img-box" src="\assets\images\article36.svg" width="100%">
        <div class="box-text">
        <p class="box-username">Victoria Kisling</p>
        <div class="box-category" style="background-color:  rgb(247, 201, 177);">College</div> </div>
      </div>
      </div>
    </div>
  
    <div class="column-getmoneytwo" style="margin-right: 15px;" >
      <div style="border:0.05rem solid #EEEEEE">
      <div class="img-getmoney" style="background-image: url(/assets/images/article33.png); ">
      <div class="overlay-getmoney">
      <p class="overlay-text">All About Mutual Funds</p>
      <span class="overlay-date">June 16,2021</span>
      </div>
      </div>
      <div class="box-getmoney">
        <img class="img-box" src="\assets\images\article36.svg" width="100%">
        <div class="box-text">
        <p class="box-username">Victoria Kisling</p>
        <div class="box-category" style="background-color: rgb(247, 201, 177);">Investing</div> </div>
      </div>
      </div>
    </div>
  
    <div class="column-getmoneytwolast" >
      <div style="border:0.05rem solid #EEEEEE">
      <div class="img-getmoney" style="background-image: url(/assets/images/article34.png); ">
      <div class="overlay-getmoney">
      <p class="overlay-text">Refinance Your Student Loans</p>
      <span class="overlay-date">June 3,2021</span>
      </div>
      </div>
      <div class="box-getmoney">
        <img class="img-box" src="\assets\images\article35.png" width="100%">
        <div class="box-text">
        <p class="box-username">Viviana Vazquez</p>
        <div class="box-category" style="background-color:rgb(247, 201, 177) ;">College</div> </div>
      </div>
      </div>
    </div>
    </div>
  </div>

  <div id="Money" class="tabcontent">
    <div class="row-getmoney">
      <div class="column-getmoney" >
      <img src="\assets\images\money-meanings-bg-yellow.png" width="100%" class="card-getmoney">
      <div class="card-getmoney" style="background: url(\assets\images\money-meanings-bg-yellow.png)"></div>
      <div class="carddata-getmoney">
        <strong class="s-getmoney">SPAC</strong>
        <span class="span-getmoney">/ʃpak/</span>
        <div class="cardin-getmoney">
          <p class="p-getmoney">
            Special Purpose Acquisition Company; a publicly owned business created solely to acquire a privately...
          </p>
        </div>
      </div>
      </div>
    
    
      <div class="column-getmoney" >
      <img src="\assets\images\money-meanings-bg-blue.png" width="100%" class="card-getmoney">
      <div class="carddata-getmoney">
        <strong class="s-getmoney">Altcoins</strong>
        <span class="span-getmoney">/æltkoynz/</span>
        <div class="cardin-getmoney">
          <p class="p-getmoney">
            alternative cryptocurrencies to bitcoin with each holding unique characteristics; traded on multiple...</p>
        </div>
      </div>
      </div>
    
   
      <div class="column-getmoney" >
      <img src="\assets\images\money-meanings-bg-green.png" width="100%" class="card-getmoney">
      <div class="carddata-getmoney">
        <strong class="s-getmoney">Dividend Yield</strong>
        <span class="span-getmoney">/ˈdivəˌdend ˌyēld/</span>
        <div class="cardin-getmoney">
          <p class="p-getmoney">
            the excess cash a public company pays per share to its shareholders.<br><br><br></p>
        </div>
      </div>
      </div>
    
    
      <div class="column-getmoney" >
      <img src="\assets\images\money-meanings-bg-purple.png" width="100%" class="card-getmoney">
      <div class="carddata-getmoney">
        <strong class="s-getmoney">Stock Split</strong>
        <span class="span-getmoney">/ˈstäk ˌsplit/</span>
        <div class="cardin-getmoney">
          <p class="p-getmoney">
            A stock split is when a company divides existing shares into multiple new shares. The number of shares...</p>
        </div>
      </div>
      </div>
    </div>
  </div>



  <button class="button-account">Learn More About Money</button>
</div>
</section>

<section style="background-color: #a9e2bc;">
<div class="features">
<strong class="p-features">As Featured In</strong>
<div class="row-feature">
  <div class="column-feature">
    <img src="\assets\images\feature-essence.svg" class="img-feature">
  </div>
  <div class="column-feature">
    <img src="\assets\images\feature-cnn.svg" class="img-feature">
  </div>
  <div class="column-feature">
    <img src="\assets\images\feature-business-insider.svg" class="img-feature">
  </div>
  <div class="column-feature">
    <img src="\assets\images\feature-inc.svg" class="img-feature">
  </div>
  <div class="column-feature">
    <img src="\assets\images\feature-forbes.svg" class="img-feature">
  </div>
</div>
</div>
</section>

<section  style="background-color: #fafafb;padding: 5rem 0;border-bottom: 0.05rem solid #DDDDDD;">
<div class="numbers">
<div class="row-numbers">
  <div class="column-numbers left-numbersextra"></div>
  <div class="column-numbers left-numbers">
  <h3 class="h-numbers">Numbers Don't Lie</h3>
  <p class="p-numbers">CapWay was created to provide fair financial access and opportunities to everyone, especially those misunderstood, overlooked, and underserved by the traditional banking system.</p>

    <p class="p-numbers">Cashless, contactless, banking deserts - the way we bank and handle our finances is changing. Whether you are looking for your first debit card and Money Account or looking for a financial option with a mission to guide and assist you in your economic growth, CapWay is here.</p>
  </div>
  <div class="column-numbers right-numbers">
    <div class="row-numbers">
      <div class="column-numbers left-numberscard">
          <img src="\assets\images\card-1.png" style="width: 100%;">
          <img src="\assets\images\card-2.png" style="width: 100%;">
      </div>
      <div class="column-numbers right-numberscard">
        <img src="\assets\images\card-3.png" style="width: 100%;">
        <img src="\assets\images\card-4.png" style="width: 100%;">
      </div>
    </div>
  </div>
</div>

</div>
</section>
<footer style="background-color: #1c1c1f;">
  <div class="footer-navigation">
    <div class="logo-navigation"> 
    <img  src="\assets\images\logo-footer.svg" class="img-navigation">

    <div class="icon-navigation">
    <img src="\assets\images\footer-facebook.svg" class="icon-navigationpos"> 
    <img src="\assets\images\footer-instagram.svg" class="icon-navigationpos"> 
    <img src="\assets\images\footer-twitter.svg" class="icon-navigationpos"> 
    <img src="\assets\images\footer-youtube.svg" class="icon-navigationpos"> 
    <img src="\assets\images\footer-linkedin.svg" class="icon-navigationposend"> 
  </div>
    </div>
    <div class="data-navigation">
      <div class="data-start-navigation">
        <strong class="s-data-navigation">COMPANY</strong>
        <a  href="javascript:void(0)" class="a-data-navigation">About </a>
        <a  href="javascript:void(0)" class="a-data-navigation">Events </a>
        <a  href="javascript:void(0)" class="a-data-navigation">Shop </a>
        <a  href="javascript:void(0)" class="a-data-navigation">Press & Media </a>
        <a  href="javascript:void(0)" class="a-data-navigation">Sign Up </a>
        
      </div>
      <div class="data-start-navigation">
        <strong class="s-data-navigation">MONEY ACCOUNT</strong>
        <a  href="javascript:void(0)" class="a-data-navigation">Open Account </a>
        <a  href="javascript:void(0)" class="a-data-navigation">Benefits </a>
        <a  href="javascript:void(0)" class="a-data-navigation">Why CapWay </a>
        <a  href="javascript:void(0)" class="a-data-navigation">Find ATM </a>
        
        
      </div>
      <div class="data-start-navigation">
        <strong class="s-data-navigation">LEARN MONEY</strong>
        <a  href="javascript:void(0)" class="a-data-navigation">Learn Money </a>
        <a  href="javascript:void(0)" class="a-data-navigation">Phunds </a>
        <a  href="javascript:void(0)" class="a-data-navigation">Money Room </a>
        <a  href="javascript:void(0)" class="a-data-navigation">Request <ng-content select="selector"></ng-content></a>
        
        
      </div>
      <div class="data-start-navigation">
        <strong class="s-data-navigation">WORK WITH CAPWAY</strong>
        <a  href="javascript:void(0)" class="a-data-navigation">Partner </a>
        <a  href="javascript:void(0)" class="a-data-navigation">Contributors </a>
        <a  href="javascript:void(0)" class="a-data-navigation">Ambassador </a>
        <a  href="javascript:void(0)" class="a-data-navigation">Career </a>
        
      </div>
      <div class="data-start-navigation">
        <strong class="s-data-navigation">SUPPORT</strong>
        <a  href="javascript:void(0)" class="a-data-navigation">Legal </a>
        <a  href="javascript:void(0)" class="a-data-navigation">FAQ </a>
        <a  href="javascript:void(0)" class="a-data-navigation">Contact Us </a>
        
      </div>
      <div class="data-start-navigation">
        <strong class="s-data-navigation">DOWNLOAD</strong>
        <a  href="javascript:void(0)" class="a-data-navigation">for IOS </a>
        <a  href="javascript:void(0)" class="a-data-navigation">for Android </a>
        
      </div>
    </div>
  </div>

  <div class="footer-description">
    <p class="p-description">The CapWay, Inc Debit Visa Card is issued by Metropolitan Commercial Bank (Member FDIC) pursuant to a license from Visa U.S.A. Inc. “Metropolitan Commercial Bank” and “Metropolitan” are registered trademarks of Metropolitan Commercial Bank ©2014. </p>
    <p class="p-description">1. For Money Account holders with a negative balance, the CapWay debit card will go into freeze until funds are deposited to bring account back to current. See terms and conditions </p>
    <p class="p-description">2. Sending or receiving money from other CapWay account holders will be instant. Transfers from other accounts could take up to 48 hours, depending on the financial institution. </p>
    <p class="p-description">3. Early access to funds requires direct deposit. Early payment is not guaranteed and is dependent on the timing of payer's submission of deposits. We generally post such deposits on the day they are received which may be up to 2 days earlier than the payer's scheduled payment date. </p>
    <p class="p-description">4. Money Goals allows account holders to save money towards financial goals created within the CapWay platform. Funds can be transferred from your Money Account or saved through the rounding up of your transactions from purchases. </p>
    <p class="p-description">5. CapWay offers financial content through Learn Money free of charge, but may include advertisements through affiliates. Phunds, CapWay's literacy program and session, is paid content or co-branded content. </p>
  </div>
  <div class="footer-terms">
    <small class="small-terms">© 2019-2022 CapWay Inc. All Rights Reserved.</small>
  </div>
</footer>
</body>